fontPrimary = 'Amatic SC', sans-serif

lightGray = #cccccc

lightTheme = white
darkTheme = #fbf2df


paleBrown = #6c5952
darkBrown = #46331B
lightBrown = #B69E95
lighterBrown = #e1d3ce


lightGreen = #99ba69
mediumGreen = #88bb3d
mobile = "screen and (max-width:40em)"

