fontPrimary = 'Source Sans Pro', sans-serif

lightGray = #cccccc

lightTheme = #FFFDF9
darkTheme = #fbf2df


paleBrown = #6c5952
darkBrown = #46331B
lightBrown = #B69E95
lighterBrown = #e1d3ce


lightGreen = #99ba69
mediumGreen = #88bb3d
mobile = "screen and (max-width:40em)"


// CYM: http://colorschemedesigner.com/#3o321p8D5w0w0

cyan = #2C98B7
magenta = #FA3644
yellow = #FFCD37

lightCyan = #80C7DB
lightMagenta = #FD8F97
lightYellow = #FFE391

