.alignLeft
  text-align: left

.alignCenter
  text-align: center

.alignRight
  text-align: right

.left
  float: left
  &.image
    margin: 0 1em 1em 0

hr, .hr
  width: 100%
  margin: 30px auto 15px auto
  border-top: 1px dotted lightBrown
  background: none
  position: relative
  height: 15px
  text-align: center
  span
    display: inline-block
    font-size: 13px
    margin-top: -13px
    padding: 0 8px
    background-color: lightTheme
    text-transform: uppercase

.flash
  &.info
    color: cyan
  &.warn
    color: yellow
  &.error
    color: magenta

.small-label
  font-size: 13px
  color: lightBrown

