@import './_constants'
@import './_util'
@import './_forms'
@import './_buttons'


html
  font-family: fontPrimary

body
  background-color: lightTheme
  color: darkBrown

.wrapper
  width: 90%
  max-width: 960px
  margin: 0 auto
  &.content
    margin-top: 2em

#footer
  min-height: 100px

h1
  font-weight: 400
  margin-bottom: 1.5em
  font-size: 2em

h2
  color: black
  margin-bottom: 2em
  text-transform: lowercase
  font-variant: small-caps
  &.secondary
    margin-top: 2em
h3
  color: darkBrown

a, a:visited
  color: paleBrown
  cursor: pointer
  &:hover
    color: darkBrown
